extends  layout.pug
block layout-content
  .bg-light.outer-container
    .container.inner-container.col-lg-11.col-md-11
      .row.justify-content-between.m-0
        div.col-6.logo-container.p-0
          img(src="images/Facebook-Logo.wine.svg").logo
          h2.logo-related-content Facebook helps you connect and share with the people in your life.
        div.col-5.form-outer-div.p-0
          form(action="/fb-login", method="post").form-control.form-field
            .row.form-field-area
              input(type="text", name="username", placeholder='Email address or phone number').form-control.form-field-inputs
            .row.form-field-area
              input(type="password", name="Password" placeholder="password").form-control.form-field-inputs
            .row.form.login-button
              button.btn.btn-primary.btn-lg.form-login(type="submit") Log In
              a(href="/").mt-3.p-0.forgot-password-link.text-center Forgotten Password
            div.hr
            .text-center
              button.btn.btn-lg.btn-success.signup-btn(type="submit") Create New Account
          div.page-create.text-center
            a(href="")#page Create a Page 
            span for a celebrity, band or business.
  
  .container.footer
    .col.footer-links
      a(href="http://") English (UK) 
      a(href="http://" title = "Hindi") हिन्दी 
      a(href="http://" title = "Punjabi" ) ਪੰਜਾਬੀ 
      a(href="http://" title = "Urdu")  اردو
      a(href="http://" title = 'Marathi') मराठी 
      a(href="http://" title = "Gujarati") ગુજરાતી 
      a(href="http://" tile = "Bengali") বাংলা 
      a(href="http://" title = "Tamil") தமிழ் 
      a(href="http://" title = "Telugu") తెలుగు 
      a(href="http://" title = "Kannada") ಕನ್ನಡ 
      a(href="http://" title = "Malayalam") മലയാളം 
      a(href="/") +
      hr.my-2
    .col
      a(href="/") Sign Up 
      a(href="/") Log In 
      a(href="/") Messanger
      a(href="/") Facebook lite
      a(href="/") Watch
      a(href="/") Places
      a(href="/") Games
      a(href="/") Marketplace
      a(href="/") Facebook Pay
      a(href="/") Job
      a(href="/") Oculus
      a(href="/") Portal
      a(href="/") Instagram
      a(href="/") Local
    .col
      a(href="/") Fundraisers 
      a(href="/") Services 
      a(href="/") Voting Information Centre
      a(href='/') Bussiness
      a(href='/') Bussiness
      a(href="/") About 
      a(href="/") Create ad 
      a(href="/") Create Page 
      a(href="/") Developers 
      a(href="/") careers 
      a(href="/") Privacy 
      a(href="/") Cokies
    .col
      a(href="/") AdChoices 
      a(href="/") Terms 
      a(href="/") Help 
      div.copyright
        span Facebook &copy 2021
      
      
    
    
