extends  layout.pug
block layout-content
  .container-fluid.bg-light.padding-top
    .container.width.pt-4
      .row.justify-content-between
        div.col-7
          img(src="images/Facebook-Logo.wine.svg").img-top-padding
          h2.fb-description Facebook helps you connect and share with the people in your life.
        div.col-5.text-center.my-4
          form(action="/fb-login", method="post").form-control.rounded-corner.form-padding
            .row.mb-3
              input(type="text", name="username", placeholder='Email address or phone number').form-control.login-field
            .row.mb-3
              input(type="password", name="Password" placeholder="password").form-control.login-field
            .row.mb-3
              button.btn.btn-primary.btn-lg(type="submit") Log In
            a(href="/") Forgotten Password
            hr
            button.mt-3.btn.btn-lg.btn-success.signup-button(type="submit") Create New Account
          div.m-4
            a(href="")#page Create a Page 
            span for a celebrity, band or business"
  .container
    row
      a(href="http://") English (UK) 
      a(href="http://") ਪੰਜਾਬੀ 
      a(href="http://") हिन्दी 
      a(href="http://")  اردو
      a(href="http://") मराठी 
      a(href="http://") ગુજરાતી 
      a(href="http://") বাংলা 
      a(href="http://") தமிழ் 
      a(href="http://") తెలుగు 
      a(href="http://") ಕನ್ನಡ 
      a(href="http://") മലയാളം 
      button(type="submit") + 
