$background-color:#f0f2f5;
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.padding-top{
  padding-top: 5.1rem;
  height: 44rem;

  .width {
    width: 63rem;
    h2 {
      font-size: 28px;
    }
    .img-top-padding{
      padding-top: 4rem;
    }
    .fb-description {
      font-weight: normal;
      width: 31.25rem;
      font-size: 1.75rem;
    }
    .form-padding{
      padding:1.1rem 1.9rem 1.7rem;
      border: none;
      box-shadow: 2px 4px 14px 5px lightgray;
    }
    .rounded-corner {
      border-radius: 3%;
    }
    .login-field {
      padding: .8rem .7rem;
      }
      .signup-button {
        background-color: rgb(1, 211, 1);
        border: none;
        font-weight: bold;
        font-size: 1.2rem;
      }
      #page {
        font-weight: bold;
      }
  }

}













a{
  text-decoration: none;
  font-weight: normal;
  color:grey;
  margin:0 .2rem;
  font-size: 12px;

}


