$background-color:#f0f2f5;
html {
  box-sizing: border-box;
}
*, *:after, *:before{
  padding: 0;
  margin:0;
  box-sizing: inherit;
}

.outer-container{
  padding: 4.5rem 0 7rem;
  .inner-container{
    max-width: 61.25rem;// 980px width
    padding: 1.25rem 0; //20px padding 
    .h2 {
      font-size: 28px;
    }
    
    
    .logo{
     padding:4.3125rem 0 0 .2rem;
    }


    .logo-related-content {
        font-size: 1.75rem;
        font-family: helvetica, sans-serif;
        font-weight:normal;
        line-height: 2rem;
       @media screen and (max-width:1058px){
          font-size: 1.5rem;
          max-width: 23rem;
       }
        
    }   

    .form-outer-div {
      margin:2.5rem 0 0;
      padding: 0;
      width: 24.75rem;
    }
    .form-field{
      padding:.625rem 0 1.5rem;
      border: none;
      box-shadow: 2px 4px  5px lightgray;
      border-radius: 3%;
      width: 100%;

      .form-field-area{
        padding: .375rem 0;
        width:22.75rem;
        margin:0 1rem;

          .form-field-inputs{
            padding: .875rem 1rem;
            border-radius: .5rem;
            width: 100%;
          }
        }

        .login-button {
          margin:0;
          padding-top:.5rem;
        }
        .form-login{
          max-width: 22.75rem;
          font-weight: bold;
          margin:0 auto;
        }
        .forgot-password-link{
          font-size: .875rem;
        }

      .signup-btn {
        background-color: rgb(1, 211, 1);
        border: none;
        font-weight: bold;
        font-size: 1.0625rem;
        margin: 0.375rem auto 0;
        padding: 0 1rem;
        min-height: 3rem;
      }
    }
    .page-create {
      margin-top: 1.75rem;
      font-size: 14px;
    }
    #page {
      font-weight: bold;
      color:black;
     
    }
  }

}

.hr {
  margin:1.25rem auto;
  max-width : 22.75rem;
  border-top: 1px solid rgba(128, 128, 128, 0.253) 
}

.footer {
  max-width: 61.25rem;
  height: 8.5rem;
  padding-top:1.25rem;
  font-family: Helvetica, sans-serif;
  font-size: .75rem;
  padding-left: 0;
  line-height: 1.2rem;
    
  .footer-links>a{
    padding-top:.5rem;
    padding-left:.6rem;
    }
  .footer-links>a:first-child{
    padding-left: 0;
  }


  .col>a{
    padding-left: 1.25rem;
  }
  .col>a:first-child{
    padding-left: 0;
  }

  .copyright{
    font-size: 11px;
    color: gray;
    margin-top:1rem;
  }
}





a{
  text-decoration: none;
  font-weight: normal;
  color:gray;


}


